<template>
    <form submit.trigger="refresh()">
        <div class="form-row">

            <div class="col-auto">
                <type-ahead-select query.call="getMinionIdValues(query)" selected-value.bind="minionId" name="Minion"></type-ahead-select>
            </div>

            <div class="col-auto">
                <type-ahead-select query.call="getOsValues(query)" selected-value.bind="os" name="OS"></type-ahead-select>
            </div>
            <div class="col-auto">
                <type-ahead-select query.call="getIpv4Values(query)" selected-value.bind="ipv4" name="IPv4"></type-ahead-select>
            </div>
            <div class="col-auto">
                <type-ahead-select query.call="getMasterValues(query)" selected-value.bind="master" name="Master"></type-ahead-select>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-light">Search</button>
            </div>

        </div>
    </form>
</template>