// This file should only contain SASS constructs, that means no styling.
// $primary: $blue !default;
// $secondary: $gray-600 !default;
$gray-700: #495057 !default;
$success: #6FBF78;
// $info: $cyan !default;
// $warning: $yellow !default;
$danger: #F05A6A;
// $light: $gray-100 !default;
$dark: $gray-700;
$accent-width: 3px;
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";