.state {
    .list-group-item {
        border-left: $accent-width solid;
        &.success {
            border-left-color: $success;
            &.changed {
                border-left-color: $warning;
            }
        }
        &.failed {
            border-left-color: $danger;
        }
        .header {
            max-width: 60%;
        }
        .comment {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
        .changes {
            margin-left: $accent-width * -1;
        }
    }
}