.state {
    .list-group-item {
        border-left: 8px solid;
        &.success {
            border-left-color: $brand-success;
            &.changed {
                border-left-color: $brand-warning;
            }
        }
        &.failed {
            border-left-color: $brand-danger;
        }
        .header {
            max-width: 60%;
        }
        .comment {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
        .changes {
            margin-left: -8px;
        }
    }
}