.minion {
    table td.shrink {
        white-space: nowrap
    }
    table td.expand {
        width: 99%
    }
    .nav {
        border-bottom: $accent-width $body-bg solid;
        margin-bottom: -1.5em;
        .nav-item {
            .nav-link {
                color: $navbar-light-brand-color;
                font-weight: 300;
                padding-left: 1.2em;
                padding-right: 1.2em;
                margin-bottom: $accent-width * -1;
                &:hover {
                    background-color: $primary-light;
                    border-bottom: $primary-light $accent-width solid;
                }
                &.active {
                    font-weight: 400;
                    border-bottom: $primary $accent-width solid;
                }
            }
        }
    }
    .job-list {
        .status {
            border-left: black $accent-width * 2 solid;
            &.success {
                border-left-color: $success;
            }
            &.failed {
                border-left-color: $danger;
            }
        }
    }
    .grain-list {
        td.values {
            .value {
                max-width: 400px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}