.minion {
    table td.shrink {
        white-space: nowrap
    }
    table td.expand {
        width: 99%
    }
    .nav {
        border-bottom: 3px $body-bg solid;
        margin-bottom: -1.5em;
        .nav-item {
            .nav-link {
                color: $navbar-light-brand-color;
                font-weight: 300;
                padding-left: 1.2em;
                padding-right: 1.2em;
                margin-bottom: -3px;
                &:hover {
                    background-color: lighten($color: #357880, $amount: 60%);
                    border-bottom: lighten($color: #357880, $amount: 60%) 3px solid;
                }
                &.active {
                    font-weight: 400;
                    border-bottom: #357880 3px solid;
                }
            }
        }
    }
    .job-list {
        .status {
            border-left: black 10px solid;
            &.success {
                border-left-color: $success;
            }
            &.failed {
                border-left-color: $danger;
            }
        }
    }
    .grain-list {
        td.values {
            .value {
                max-width: 400px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}