// https://www.codeply.com/go/KrUO8QpyXP/bootstrap-4-dashboard
html,
body {
    height: 100%;
    &>div {
        height: 100%;
    }
}

$sidebar-width: 200px;
$sidebar-color: #FDFEFF;
.app {
    padding-top: 56px;
    height: 100%;
    .main-nav {
        &.navbar {
            padding: 0;
            .crumbs {
                font-weight: 400;
                font-size: 1.1em;
                .nav-item {
                    padding: 0;
                    .nav-link {
                        padding: 0;
                        &.separator {
                            margin-top: -2px;
                            margin-right: 3px;
                            margin-left: 3px;
                        }
                    }
                }
            }
            .navbar-brand {
                width: $sidebar-width;
                height: 56px;
                padding: 0;
                font-weight: 500;
                background-color: $sidebar-color;
            }
            .nav-item {
                padding: 0.5em 0.5em;
            }
        }
    }
    .workspace {
        height: 100%;
        .sidebar {
            width: inherit;
            min-width: $sidebar-width;
            max-width: $sidebar-width;
            float: left;
            height: 100%;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 20;
            background-color: $sidebar-color;
            &.active {}
            .nav-item {
                border-right: $accent-width solid $body-bg;
                .nav-link {
                    color: $navbar-light-color;
                    @include hover-focus {
                        color: $navbar-light-hover-color;
                    }
                }
                &.active {
                    background-color: $primary-light;
                    border-right-color: $primary;
                    .nav-link {
                        color: $navbar-light-active-color;
                    }
                }
            }
        }
        .main-container {
            height: 100%;
            .scroll-area {
                height: 100%;
                overflow: auto;
            }
            overflow-x: hidden;
            position: relative;
        }
    }
}

.table {
    thead th {
        border-bottom-width: 0;
        border-top-width: 0;
    }
    tr td {
        vertical-align: middle
    }
    tr.clickable {
        cursor: pointer;
        &:hover {
            background-color: lighten($color: $gray-200, $amount: 2%);
            transition: background-color 200ms ease-in-out;
        }
    }
}